* {
    font-family: "Roboto", sans-serif;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.header-logo-wrap {
    margin-top: 63px;
    margin-bottom: 40px;
}

.header-logo {
    font-size: 80px;
    text-decoration: none;
    color: #000000;
    text-align: left;
    margin-bottom: 38px;
}

.header-logo--blue {
    color: #4bcaff;
}

.header-menu {
    background-color: #35444f;
    display: flex;
    align-items: center;
}

.header-menu-wrap {
    display: flex;
    width: 1013px;
    justify-content: space-between;
    margin: 0 auto;

}

.header-menu-link {
    background-color: #35444f;
    border-left: 1px solid #ffffff;
    cursor: pointer;
    padding-top: 24px;
    padding-bottom: 18px;
}

.header-menu-link:nth-child(4) {
    border-right: 1px solid #ffffff;
}

.header-menu-link:hover {
    background-color: #222f3a;
}

.header-menu-links {
    display: block;
    text-decoration: none;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    padding: 0 40px 0 40px;
}

.main-wrap {
    display: flex;
    margin-top: 48px;
    justify-content: space-between;
}

.aside-menu {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 344px;
    height: 407px;
    border: 1px solid #000000;
}

.aside-menu-item {
    list-style-type: none;
    display: block;
    padding: 27px 0 27px 44px;
    color: #495863;
}

.aside-menu-links {
    text-decoration: none;
    font-size: 27px;
    line-height: 27px;
    color: #495863;
}

.aside-menu-item:hover {
    background-color: #DBDBDB;
    padding-left: 64px;
    color: #35444F;
}

.main {
    display: flex;
    width: 885px;
    height: 832px;
    flex-direction: column;
}

.main-img-wrap {
    border: 1px solid #000000;
    width: 885px;
    height: 529px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.main-img:hover {
    transform: scale(1.1);
    transition: transform 1s;
}

.main-descr {
    margin-top: 37px;
}

.main-descr-text {
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    padding-bottom: 34px;
    margin: 0;
}

.main-descr-text:nth-child(2) {
    padding-bottom: 0;
}

.footer-wrap {
    margin-top: 50px;
    display: flex;
    height: 70px;
    background-color: rgba(99, 105, 110, 0.48);
    justify-content: space-between;
    align-items: center;
}

.footer-menu {
    padding-left: 40px;
    display: flex;
    width: 875px;
    justify-content: space-between;
}

.footer-menu-item {
    list-style-type: none;
}

.footer-menu-links {
    text-decoration: none;
    font-size: 28px;
    color: #0C1927;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}

.footer-menu-links:hover {
    color: #3181A6;
    border-bottom-color: #3181A6;
}

.footer-copyright {
    padding-right: 40px;
}

.footer-copyright-text {
    font-size: 24px;
    color: #010101;
}